* {
    box-sizing: border-box;
 }
 body {
    background: #f69a73;
 }
 .form {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
 }
 .form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #f69a73;
    border-radius: 20px;
 }
 .form-left-decoration {
    bottom: 60px;
    left: -30px;
 }
 .form-right-decoration {
    top: 60px;
    right: -30px;
 }
 .form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
 }
 .form-left-decoration:before {
    top: -20px;
 }
 .form-left-decoration:after {
    top: 20px;
    left: 10px;
 }
 .form-right-decoration:before {
    top: -20px;
    right: 0;
 }
 .form-right-decoration:after {
    top: 20px;
    right: 10px;
 }
 .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
 }
 .form-inner {
    padding: 50px;
    display: flex;
    flex-direction: column;
 }

.form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border: none;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
 }
 .form-input {
   display: block;
   width: 100%;
   padding: 0 20px;
   margin-bottom: 10px;
   background: #E9EFF6;
   line-height: 40px;
   border: none;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
 }
 .red {
   border: 3px solid red;
}
.form-field {
   position: relative;
}
 .submit-btn {
    padding: 15px 5px;
    border-radius: 30px;
    background: #f69a73;
    border: none;
    color: white;
    font-size: 14px;
 }
 .form-inner textarea {
    resize: none;
 }
 .form-inner h3, .form-inner label {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
 }
 .form-inner label {
    font-size: 14px;
 }
 .incorrect-value {
   background:  #707981;
   opacity: 80%;
   border-radius: 15px;
   position: relative;
   width: 200px; 
   height: 50px;
   position: absolute;
   top: 15px;
   left: -225px;
   display: none;
   font-family: 'Roboto', sans-serif;
   color: white;
   text-align: center;
   font-weight: 400;
   font-size: 12px;
  }
 .incorrect-value::after {
   content: ''; 
   position: absolute;
   right: -27px; 
   top: 15px;
   border: 10px solid transparent;
   border-left: 20px solid #707981;
 }
